<div
    id="solution-editor"
    style="height: 100%; width: 100%; resize: vertical"
>
    Hier verbirgt sich verschlüsselt die Lösung!
</div>

<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.52.0/min/vs/loader.js"></script>
<script>
    require.config({
        paths: {
            vs: 'https://cdn.jsdelivr.net/npm/monaco-editor@0.52.0/min/vs',
            cryptoJs:
                'https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js',
        },
    });
</script>

<script>
    const $editor = document.getElementById('solution-editor');

    const url = new URL(location.href);
    const key = url.searchParams.get('key');

    require(['vs/editor/editor.main', 'cryptoJs'], (_, cryptoJs) => {
        function createEditor({ code, language, annotations }) {
            $editor.style.outline = '1px solid #eaecef';
            $editor.style.height = '30vh';
            $editor.innerHTML = '';

            const editor = monaco.editor.create($editor, {
                language,
                value: code,
                lineNumbers: 'on',
                automaticLayout: true,
                scrollBeyondLastLine: false,
                renderValidationDecorations: 'on',
                theme: 'vs-light',
                readOnly: true,
                readOnlyMessage: { value: 'Cannot edit this file.' },
            });

            const markers = annotations.map(
                ({
                    line: [startLineNumber, endLineNumber],
                    column: [startColumn, endColumn],
                    comment: message,
                }) => ({
                    startLineNumber,
                    endLineNumber,
                    startColumn,
                    endColumn,
                    message,
                    severity: monaco.MarkerSeverity.Info,
                })
            );

            monaco.editor.setModelMarkers(
                editor.getModel(),
                'annotations',
                markers
            );
        }

        async function loadSolution(key) {
            const values = await (await fetch('./values.json')).json();

            const decrypt = ciphertext =>
                cryptoJs.AES.decrypt(ciphertext, key).toString(
                    cryptoJs.enc.Utf8
                );

            return {
                ...values,
                code: decrypt(values.code),
                annotations: JSON.parse(decrypt(values.annotations)),
            };
        }

        if (key) {
            // drop errors silently
            loadSolution(key).then(createEditor);
        }
    });
</script>
